.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.img1 {
 justifyContent: 'center';
    alignItems: 'center';
}

.tbl1{
  padding: 15px;
}


//https://codepen.io/Basit600/pen/JzeZxo?editors=0110
#title {
  text-align: center;
  font-family: arial, sans-serif;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: "auto";
  tableLayout:"auto";
}

#students td, #students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even){background-color: #f2f2f2;}

#students tr:hover {background-color: #ddd;}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #00d1b2;
  color: white;
}

#students1 {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#students1 td, #students1 th {
  border: 1px solid #ddd;
  padding: 1px;
}


#students1 tr:hover {background-color: #ddd;}

#students1 th {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

